API_KEY= #geoapify API key for routing
MONGODB_URL= # MongoDB connection string
MONGODB_DATABASE= # MongoDB database name
MONGODB_COLLECTION= # previous locations
MONGODB_WISHLIST_COLLECTION= # wishlist locations
LOCAL_DATABASE_URL= # Local PostgreSQL database URL
