DATABASE_USER= # Username for PostgreSQL
DATABASE_PASSWORD= # Password for PostgreSQL
DATABASE_HOST= # Host for PostgreSQL, please put to localhost
DATABASE_NAME= # Name of the PostgreSQL database
DATABASE_PORT= # PORT for PostgreSQL, please put to 5432
API_KEY= #geoapify API key for routing
MONGODB_URL= # MongoDB connection string
MONGODB_DATABASE= # MongoDB database name
MONGODB_COLLECTION= # previous locations
MONGODB_WISHLIST_COLLECTION= # wishlist locations
LOCAL_DATABASE_URL= # Local PostgreSQL database URL
